<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Submission Form </title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
	<div class="container">
		<h1>Employee Registration Form </h1>
		<form action="#" th:action="@{/submit}" th:object="${submission}" method="post">
			<div>
				<label for="name">Name: </label>
				<input type="text" id="name" th:field="*{name}" placeholder="Enter your Name" required/>
			</div>
			
			<div>
				<label for="email">Email: </label>
				<input type="email" id="email" th:field="*{email}"placeholder="Enter your Email" required/>
			</div>
			<div>
				<label for="phone">Phone : </label>
				<input type="tel" id="phone" th:field="*{phone}" placeholder="Phone Number" required />
				
					
			</div>
			<div>
				<label for="address">Address: </label>
				<textarea id="address" th:field="*{address}"  placeholder="Address..." required ></textarea>
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</body>
</html>
